---
import { classNames } from '@/lib/classNames';

interface Props {
	class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={classNames('card-glass card-gold-hover rounded-card p-6', className)}>
	<slot />
</div>
